table {
  border-collapse: collapse;
  width: 90%;
  margin: 10px auto;
  border: 2px solid #9daedf;
}

th,
td {
  text-align: center;
  padding: 5px;
}

thead {
  background-color: #fc7605;
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #f2c94e;
}

.sidebar {
  background-color: #823c80;
  margin: 10px 5px;
  font-size: 15px;
  font-family: sans-serif;
  color: white;
  padding: 10px;
}

.sidebar p {
  line-height: 30px;
}
